<%= form_for(@order) do |f| %>
 <% if @order.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
  <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name, :size => 40 %>
</div>
<div class="field">
<%= f.label :address %><br />
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, :size => 40 %>
</div>
  
<%=f.hidden_field :stripe_customer_token %> 
<% if @order.stripe_customer_token.present? %>
  Credit card has been provided
<% else %>
  <div class="field">
    <%= f.label :card_number, "Credit Card Number" %>
    <%= f.text_field :card_number, maxlength: 16 %>
  </div>
  <div class="field">
    <%= f.label :cvv, "Security Code on Card (CVV)" %>
    <%= f.text_field :cvv, maxlength: 3 %>
  </div>
  <div class="field">
    <%= f.label :exp_month, "Card Expiration Month" %>
    <%= f.text_field :exp_month %>
    <br>
    <%= f.label :exp_year, "Card Expiration Year" %>
    <%= f.text_field :exp_year %>
  </div>
<% end %>
<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>
  
<div class="actions">
<%= f.submit 'Place Order', id: "submit_order" %>
</div> 
<% end %>